
$accordion-title-color: var(--#{$prefix}-accordion-title-color, $color-slate-600) !default;
$accordion-title-bg: var(--#{$prefix}-accordion-title-bg, $color-slate-50) !default;
$accordion-title-hover-bg: var(--#{$prefix}-accordion-title-hover-bg, $color-slate-100) !default;
$accordion-title-border: var(--#{$prefix}-accordion-title-border, $color-slate-200) !default;

$accordion-content-bg: var(--#{$prefix}-accordion-content-bg, white) !default;

.accordion {
  --#{$prefix}-accordion-chevron-angle: 0deg;

  overflow: hidden;
  appearance: none;
  box-shadow: $shadow;
  border-radius: 8px;
  &-item {
    &[open] {
      --#{$prefix}-accordion-chevron-angle: -90deg;
    }
  }

  &-title {
    color: $accordion-title-color;
    cursor: pointer;
    padding: 16px;
    position: relative;
    font-size: $font-lg;
    box-shadow: 0 0 0 1px $accordion-title-border;
    transition: all .2s ease-in-out;
    font-weight: $font-medium;
    line-height: $leading-normal;
    user-select: none;
    background-color: $accordion-title-bg;
    &:hover {
      background-color: $accordion-title-hover-bg;
    }
    &:focus {
      outline: 0;
      background-color: $accordion-title-hover-bg;
    }
    &:after {
      top: 16px;
      right: 16px;
      width: 32px;
      height: 32px;
      content: '';
      position: absolute;
      transform: rotate(var(--#{$prefix}-accordion-chevron-angle));
      transition: all .2s ease-in-out;
      background-image: $chevron;
      background-position: center;
    }
    &::marker {
      content: '';
    }
  }

  &-content {
    padding: 24px;
    padding-top: 32px;
    background-color: $accordion-content-bg;
  }
}
