

.link {
  color: $color-primary;
  padding: 2px 4px;
  display: inline-block;
  opacity: .8;
  transition: all .2s ease-in-out;
  line-height: $leading-normal;
  font-weight: $font-normal;
  text-decoration: none;

  &:hover {
    opacity: 1;
    &:after {
      transform: scale3d(1, 1, 1);
    }
  }

  &:after {
    width: 100%;
    height: 2px;
    content: '';
    display: block;
    transform: scale3d(0, 0, 1);
    transition: all .2s ease;
    border-radius: 2px;
    transform-origin: left;
    background-color: $color-primary;
  }
}
