.select {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 8px 12px;
  font-size: $font-md;
  appearance: none;
  transition: all .2s ease;
  line-height: $leading-normal;
  padding-right: 24px;
  background-color: white;
  background-size: 1.5em auto;
  background-image: $chevron;
  background-position: right center;


  color: $color-slate-600;
  border-color: $color-slate-400;
  border-radius: 8px;

  &:hover {
    border-color: $color-slate-500;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px $color-slate-300;
  }
}
