
// BASE APP LAYOUT WITH STICKY FOOTER
.base {
  &-layout {
    display: flex;
    flex-direction: column;
  }

  &-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    position: fixed;
    box-shadow: 0 0 1em -0.125em rgb(10 10 10 / 10%),
                0 0 0 1px rgb(10 10 10 / 2%);
    border-bottom: 1px solid $color-slate-200;
    background-color: $color-slate-50;
  }

  &-content {
    flex: 1;
    position: relative;
    margin-top: 64px;
  }

  &-footer {
    padding: 32px 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: $color-slate-300;
    p {
      color: $color-slate-500;
    }
  }
}

// HERO TITLE SECTION
.hero-section {
  padding: 96px 16px;
  background-color: $color-slate-800;
  background-image: linear-gradient(to bottom right, $color-slate-700, $color-slate-900);
  .hero-title {
    color: $header-gradient-end;
    margin: 0 auto;
    max-width: 520px;
    text-align: center;
    line-height: $leading-tight;
    font-family: $font-primary;
    font-weight: $font-bold;

    background-clip: text;
    background-size: 100%;
    background-color: $header-gradient-end;
    background-image: linear-gradient(to right, $header-gradient-start, $header-gradient-end);
    -webkit-text-fill-color: transparent;

    &:after {
      width: 80px;
      height: 4px;
      margin: 8px auto 0;
      content: '';
      display: block;
      border-radius: 4px;
      background-color: $header-gradient-end;
      background-image: linear-gradient(to right, $header-gradient-start, $header-gradient-end);
    }
  }
}

// BASE APP SECTION
.base-section {
  padding: 64px 0 32px;
}
