
$header-bg-color: var(--#{$prefix}-header-bg-color, $color-slate-50);
$header-border-color: var(--#{$prefix}-header-border-color, $color-slate-200);

$hero-text-color: var(--#{$prefix}-hero-text-color, $color-slate-100);
$hero-gradient-start: var(--#{$prefix}-hero-gradient-start, $color-slate-700);
$hero-gradient-end: var(--#{$prefix}-hero-gradient-end, $color-slate-900);

$footer-bg-color: var(--#{$prefix}-footer-bg-color, $color-slate-300);
$footer-text-color: var(--#{$prefix}-footer-text-color, $body-text-color);

// BASE APP LAYOUT WITH STICKY FOOTER
.base {
  &-layout {
    display: flex;
    flex-direction: column;
  }

  &-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    position: fixed;
    box-shadow: 0 0 1em -0.125em rgb(10 10 10 / 10%),
                0 0 0 1px rgb(10 10 10 / 2%);
    border-bottom: 1px solid $header-border-color;
    background-color: $header-bg-color;
  }

  &-content {
    flex: 1;
    position: relative;
    margin-top: 64px;
  }

  &-footer {
    padding: 32px 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: $footer-bg-color;
    p {
      color: $footer-text-color;
    }
  }
}

// HERO TITLE SECTION
.hero-section {
  padding: 96px 16px;
  background-color: $hero-gradient-end;
  background-image: linear-gradient(to right, $hero-gradient-start, $hero-gradient-end);

  .hero-title {
    color: $hero-text-color;
    margin: 0 auto;
    max-width: 540px;
    text-align: center;
    line-height: $leading-tight;
    font-family: $font-primary;
    font-weight: $font-bold;
  }
}

// BASE APP SECTION
.base-section {
  padding: 64px 0 32px;
}

//
.form-preview {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .btn {
    width: 100%;
    display: block;
  }
  @include md {
    flex-direction: row;
    .btn {
      width: auto;
      display: inline-block;
    }
  }
}
