
h1, h2, h3, h4, h5, h6 {
  color: $heading-text-color;
  font-weight: $font-medium;
  line-height: $leading-tight;
  font-family: $font-secondary;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  margin: 32px 0;
  font-size: $font-5xl;
}

h2 {
  margin: 32px 0;
  font-size: $font-4xl;
}

h3 {
  margin: 24px 0;
  font-size: $font-3xl;
}

h4 {
  margin: 20px 0;
  font-size: $font-2xl;
}

h5 {
  margin: 18px 0;
  font-size: $font-xl;
}

h6 {
  margin: 16px 0;
  font-size: $font-lg;
}

p {
  color: $primary-text-color;
  margin: 16px 0;
  font-family: $font-primary;
  font-weight: $font-normal;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
