
.m-none {
  margin: 0;
}

.container {
  width: 100%;
  display: block;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.flex-container {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items:  center;
}
