
.m-none {
  margin: 0;
}

.container {
  width: 100%;
  display: block;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @include md {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.flex-container {
  gap: 16px;
  display: flex;
  align-items:  center;
  &.wrap {
    flex-wrap: wrap;
  }
}

.animate-all {
  transition: all .2s ease-in-out;
  * {
    transition: all .2s ease-in-out;
  }
}

/** GENERATE `margin` & `padding` utilities */
@include generate-spacing(margin, m);
@include generate-spacing(padding, p);
