
/** CREATE A BTN COLOR VARIATION */
@mixin btnColorVariation($class, $color, $color-light) {
  &.btn-#{$class} {
    --#{$prefix}-btn-bg: #{$color};
    --#{$prefix}-btn-color: white;
    --#{$prefix}-btn-hover-bg: #{$color-light};
    --#{$prefix}-btn-hover-color: white;

    &.btn-outline {
      --#{$prefix}-btn-bg: transparent;
      --#{$prefix}-btn-color: #{$color};
      --#{$prefix}-btn-hover-bg: #{$color};
      --#{$prefix}-btn-hover-color: white;
      --#{$prefix}-btn-border-color: #{$color};
    }

    &.btn-plain {
      --#{$prefix}-btn-bg: transparent;
      --#{$prefix}-btn-hover-bg: #{$color};
      --#{$prefix}-btn-color: #{$color};
    }
  }
}


/** CREATE A PARENT SELECTOR WITH `data-theme` */
@mixin theme($theme) {
  @at-root #{selector-nest(':root[data-theme=#{$theme}]', &)} {
    @content;
  }
}
