
/** CREATE A BTN COLOR VARIATION */
@mixin btnColorVariation($class, $color, $color-light, $color-contrast) {
  &.btn-#{$class} {
    --#{$prefix}-btn-bg: #{$color};
    --#{$prefix}-btn-color: #{$color-contrast};
    --#{$prefix}-btn-hover-bg: #{$color-light};
    --#{$prefix}-btn-hover-color: #{$color-contrast};

    &.btn-outline {
      --#{$prefix}-btn-bg: transparent;
      --#{$prefix}-btn-color: #{$color};
      --#{$prefix}-btn-hover-bg: #{$color};
      --#{$prefix}-btn-hover-color: #{$color-contrast};
      --#{$prefix}-btn-border-color: #{$color};
    }

    &.btn-plain {
      --#{$prefix}-btn-bg: transparent;
      --#{$prefix}-btn-hover-bg: #{$color};
      --#{$prefix}-btn-color: #{$color};
    }
  }
}


/** CREATE A PARENT SELECTOR WITH `data-theme` */
@mixin theme($theme) {
  @at-root #{selector-nest(':root[data-theme=#{$theme}]', &)} {
    @content;
  }
}

/** CREATE MEDIA QUERY BREAKPOINTS */
@mixin break-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "`#{$breakpoint}` no es un breakpoint valido. Puedes intentar con: #{map-keys($breakpoints)}.";
  }
}

/** */
@mixin sm() {
  @include break-up(sm) {
    @content;
  }
}

/** */
@mixin md() {
  @include break-up(md) {
    @content;
  }
}

/** */
@mixin lg() {
  @include break-up(lg) {
    @content;
  }
}

/** */
@mixin xl() {
  @include break-up(xl) {
    @content;
  }
}
