/** CSS VARIABLES PREFIX */
$prefix: 'coder' !default;



$chevron: var(--#{$prefix}-chevron, url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(100, 116, 139)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>")) !default;

/** FONT FAMILIES */
$font-sans: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !default;

/** FONT SIZES */
$font-xs: 0.75rem !default;   /** 12px */
$font-sm: 0.875rem !default;  /** 14px */
$font-md: 1rem !default;      /** 16px */
$font-lg: 1.125rem !default;  /** 18px */
$font-xl: 1.25rem !default;   /** 20px */
$font-2xl: 1.5rem !default;   /** 24px */
$font-3xl: 1.875rem !default; /** 30px */
$font-4xl: 2.25rem !default;  /** 36px */
$font-5xl: 3rem !default;     /** 48px */
$font-6xl: 3.75rem !default;  /** 60px */
$font-7xl: 4.5rem !default;   /** 72px */
$font-8xl: 6rem !default;     /** 96px */
$font-9xl: 8rem !default;     /** 128px */

/** FONT WEIGHTS */
$font-thin: 100 !default;
$font-extralight: 200 !default;
$font-light: 300 !default;
$font-normal: 400 !default;
$font-medium: 500 !default;
$font-semibold: 600 !default;
$font-bold: 700 !default;
$font-extrabold: 800 !default;
$font-black: 900 !default;

/** LEADINGS / LINE HEIGHTS */
$leading-none: 1 !default;
$leading-tight: 1.25 !default;
$leading-snug: 1.375 !default;
$leading-normal: 1.5 !default;
$leading-relaxed: 1.625 !default;
$leading-loose: 2 !default;

/** COLORS */
$color-slate-50:  #f8fafc !default;
$color-slate-100: #f1f5f9 !default;
$color-slate-200: #e2e8f0 !default;
$color-slate-300: #cbd5e1 !default;
$color-slate-400: #94a3b8 !default;
$color-slate-500: #64748b !default;
$color-slate-600: #475569 !default;
$color-slate-700: #334155 !default;
$color-slate-800: #1e293b !default;
$color-slate-900: #0f172a !default;

$color-blue-300: #93c5fd !default;
$color-blue-400: #60a5fa !default;
$color-blue-500: #3b82f6 !default;
$color-blue-600: #2563eb !default;

$color-green-300: #86efac !default;
$color-green-400: #4ade80 !default;

$color-red-300: #fca5a5 !default;
$color-red-400: #f87171 !default;

$color-orange-400: #fb923c !default;

/** SHADOWS */
$shadow-color: var(--#{$prefix}-shadow-color, 51 65 85) !default;

$shadow-sm: 0 1px 2px 0 rgb($shadow-color / 0.05) !default;
$shadow: 0 1px 3px 0 rgb($shadow-color / 0.1), 0 1px 2px -1px rgb($shadow-color / 0.1) !default;
$shadow-md: 0 4px 6px -1px rgb($shadow-color / 0.1), 0 2px 4px -2px rgb($shadow-color / 0.1) !default;
$shadow-lg: 0 10px 15px -3px rgb($shadow-color / 0.1), 0 4px 6px -4px rgb($shadow-color / 0.1) !default;
$shadow-xl: 0 20px 25px -5px rgb($shadow-color / 0.1), 0 8px 10px -6px rgb($shadow-color / 0.1) !default;

/** THEME GLOBAL VARIABLES */
$font-primary: var(--#{$prefix}-font-primary, $font-sans);
$font-secondary: var(--#{$prefix}-font-secondary, $font-serif);
$font-size-base: var(--#{$prefix}-font-size-base, $font-md);
$font-weight-base: var(--#{$prefix}-font-weight-base, $font-normal);
$line-height-base: var(--#{$prefix}-line-height-base, $leading-normal);

$body-bg-color: var(--#{$prefix}-body-bg-color, $color-slate-100);
$heading-text-color: var(--#{$prefix}-heading-text-color, $color-slate-700);
$primary-text-color: var(--#{$prefix}-primary-text-color, $color-slate-500);

$color-primary: var(--#{$prefix}-color-primary, $color-blue-500);
$color-primary-light: var(--#{$prefix}-color-primary-light, $color-blue-400);
$color-primary-dark: var(--#{$prefix}-color-primary-dark, $color-blue-600);

$color-secondary: var(--#{$prefix}-color-secondary, $color-slate-500);
$color-secondary-light: var(--#{$prefix}-color-secondary-light, $color-slate-400);
$color-secondary-dark: var(--#{$prefix}-color-secondary-dark, $color-slate-600);

$color-focus: var(--#{$prefix}-color-focus, $color-slate-400);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
