@charset 'utf-8';

// VARIABLES
@import 'variables';
// MIXINS
@import 'mixins';
// BASE
@import 'base/base';
@import 'base/typography';
@import 'base/utils';
// COMPONENTS
@import 'components/accordions';
@import 'components/buttons';
@import 'components/cards';
@import 'components/inputs';
@import 'components/links';
@import 'components/navbar';
@import 'components/select';
// LAYOUTS
@import 'layouts/base-layout';
// THIRD PARTY DEPENDENCIES
@import './vendors';
