@charset 'utf-8';

@import 'variables';
// BASE
@import 'base/base';
@import 'base/utils';
// COMPONENTS
@import 'components/navbar';
// LAYOUTS
@import 'layouts/base-layout';
// THIRD PARTY DEPENDENCIES
@import './vendors';
